<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Game</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./src/main.js" defer></script>
</head>
<body>
    <h1 id="title" v-bind:style="style">{{ title }}</h1>
    <div id="app">
        <h2 v-if="playerTurn">Player 1 Turn</h2>
        <h2 v-else>Player 2 Turn</h2>
        <!-- Lab 4 loop rendering below -->
        <square v-for="square in squares" v-bind:x="square.x" v-bind:y="square.y" v-bind:player="square.player"v-bind:key="square.id"></square>
    </div>
</body>
</html>