#EmployeeListing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p, span, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.employee-card {
    position: relative;
    max-width: 20%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.featured {
    position: absolute;
    margin: 0px;
    top: 2px;
    right: 2px;
}
h1, h2 {
    text-align: center;
}
img {
    max-width: 37%;
    margin: auto;
    border: 1px black solid;
    border-radius: 200px;
    margin-top: 10%;
    margin-bottom: 0%;
}
p {
    max-width: 80%;
    margin-left: 5%;
    margin-bottom: 15%;
}
.roles-container {
    margin-bottom: 2%;
    position: absolute;
    bottom: 2%;
    left: 1%;
}
.roleName {
    padding: 5px 10px;
    margin: 0% 10px;
}
@media only screen and (max-width: 960px)  {
    #EmployeeListing {
        flex-direction: column;
        align-items: center;
    }
    .employee-card {
        max-width: 80%;
        margin-bottom: 5%;
    }
    .roleName {
        padding: 3% 5%;
    }
}